<!DOCTYPE html>
<html ng-app="Caronte" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link href="CSS/metro.min.css" rel="stylesheet" />
	<link href="CSS/metro-icons.css" rel="stylesheet" />
	<link href="CSS/sitestyle.css" rel="stylesheet" />
	<script type="text/javascript" src="Scripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="Scripts/metro.min.js"></script>
	<script src="Scripts/angular.min.js"></script>
	<script src="NG/Services/anagraficaService.js"></script>
	<script src="NG/Controllers/anagraficaController.js"></script>
	<script src="Scripts/app.js"></script>

	<title>Anagrafica - Project Caronte</title>
</head>
<body ng-controller="anagraficaController">
	<div class="tile-area fg-white bg-gray headerPadding" style="width:1024px">

		<div class="headerBar bg-grayDarker">
			<div class="tile-area-title">
				
				<span class="mif-arrow-left fg-white" onclick="window.location='Index.html'"></span>
				<span class="labelAlignment">Gestione Anagrafica</span>
			</div>
		</div>

		<div class="contentContainer">

			<div class="leftAlign">
				<button class="button" ng-click="newAnagrafica()">
					<span class="mif-plus"></span>
					<span class="labelAlignment"> Nuova anagrafica</span>
				</button>
			</div>

			<div class="tableContainer">
				<table class="table striped hovered bordered bg-white fg-black">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Cognome</th>
							<th>Codice Fiscale</th>
							<th>Data di nascita</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="anagrafica in anagraficaList">
							<td width="150">{{anagrafica.Nome}}</td>
							<td width="250">{{anagrafica.Cognome}}</td>
							<td>{{anagrafica.CodiceFiscale}}</td>
							<td>{{ anagrafica.DataNascita | date: 'dd/MM/yyyy'}}</td>
							<td width="80">
								<span class="mif-pencil fg-grayDark editCell" ng-click="editAnagrafica( anagrafica )"></span>&nbsp;
								<span class="mif-cancel fg-red editCell" ng-click="removeAnagrafica( anagrafica.IDAnagrafica )"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="navcontainer">
				<ul class="leftAlign">
					<li><span ng-class="{true: 'paginateBtn', false: 'paginateDisabledBtn'}[currentPage != 0]" ng-click="showPage(0)">Prima</span></li>
					<li ng-repeat="nPage in pageNumbers">
						<span class="paginateBtn" ng-show="nPage != currentPage" ng-click="showPage(nPage)">{{nPage + 1}}</span>
						<span class="paginateSelectedBtn" ng-show="nPage == currentPage">{{nPage + 1}}</span>
					</li>
					<li>
						<span ng-class="{true: 'paginateBtn', false: 'paginateDisabledBtn'}[currentPage != pageNumbers.length - 1]" ng-click="showPage(pageNumbers.length-1)">Ultima</span>


					</li>

				</ul>
			</div>
		</div>
	</div>

	<div data-role="dialog" data-windows-style="true" id="dialog" class="bg-grayDarker fg-black" style="text-align:center">
		<div>
			<div style="width:100%; height:70px" class="fg-white">
				<h1>{{popupAna.type}} anagrafica</h1>
			</div>
			<form class="bg-white" style="display:flex">
				
				<div style="text-align:right; width:50%">
					<table style="margin-left: auto; margin-right: auto;">
						<tr>
							<td style="text-align:left">Nome:</td>
							<td>
								<div class="input-control text">
									<input type="text" ng-model="popupAna.obj.Nome" placeholder="Nome">
								</div>
							</td>
						</tr>
						<tr>
							<td style="text-align:left">Cognome:</td>
							<td>
								<div class="input-control text">
									<input type="text" ng-model="popupAna.obj.Cognome" placeholder="Cognome">
								</div>
							</td>
						</tr>
						<tr>
							<td style="text-align:left">Codice fiscale:</td>
							<td>
								<div class="input-control text">
									<input type="text" ng-model="popupAna.obj.CodiceFiscale" placeholder="Codice fiscale">
								</div>
							</td>
						</tr>
						<tr>
							<td style="text-align:left">Data di nascita:</td>
							<td>
								<div class="input-control text" data-format="yyyy/mm/dd" data-role="datepicker">
									<input type="text" id="newDate" value="{{popupAna.obj.DataNascita | date: 'yyyy/MM/dd'}}">
									<button class="button"><span class="mif-calendar"></span></button>
								</div>
							</td>
						</tr>
						<tr>
							<td />
							<td style="float:right">
								<input type="button" ng-click="okEdit()" value="Salva" />
								<input type="button" ng-click="cancelEdit()" value="Annulla" />
							</td>
						</tr>
					</table>
				</div>
				<div style="width:20px;"></div>
				<div style="text-align:left; width:50%">
					<iframe width="500" height="400" frameborder="0" src="http://www.bing.com/maps/embed/viewer.aspx?v=3&cp=33.937414~41.159668&lvl=6&w=500&h=400&sty=r&typ=d&pp=&ps=&dir=0&mkt=it-it&form=BMEMJS"></iframe>					
				</div>

			</form>
		</div>
	</div>

</body>
</html>
