<div class="tile-area fg-white bg-gray headerPadding" style="width:1024px">

	<div class="headerBar bg-grayDarker">
		<div class="tile-area-title">

			<span class="mif-arrow-left fg-white" ng-click="closePasseggeri()"></span>
			<span class="labelAlignment">Gestione Passeggeri</span>
		</div>
	</div>

	<div class="contentContainer">
		<div class="leftAlign">
			<button class="button primary" ng-click="newPasseggerp()">
				<span class="mif-plus"></span>
				<span class="labelAlignment"> Nuovo passeggero</span>
			</button>
		</div>

		<div class="tableContainer">
			<table class="table striped hovered bordered bg-white fg-black">
				<thead>
					<tr>
						<th>Nominativo</th>
						<th>Data assunzione</th>
						<th>Ruolo</th>

						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="passeggero in passeggeriList">
						<td width="400">{{passeggero.NOMINATIVO}}</td>
						<td width="200">{{ passeggero.DipendenteDal | date: 'dd/MM/yyyy'}}</td>
						<td>{{passeggero.RUOLO_DESC}}</td>

						<td width="80">
							<span class="mif-pencil fg-grayDark editCell" ng-click="editPersonale( passeggero )"></span>&nbsp;
							<span class="mif-cancel fg-red editCell" ng-click="removePersonale( passeggero.IDDipendente )"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pagination leftAlign">
			<span ng-class="{true: 'item', false: 'item disabled'}[currentPage != 0]" ng-click="showPagePass(0)">Prima</span>
			<span ng-repeat="nPage in pagePassNumbers" ng-class="{true: 'item', false: 'item current'}[currentPagePass != nPage]" ng-click="showPagePass(nPage)">{{nPage + 1}}</span>
			<span ng-class="{true: 'item', false: 'item disabled'}[currentPage != pagePassNumbers.length - 1]" ng-click="showPagePass(pagePassNumbers.length-1)">Ultima</span>
		</div>
	</div>
</div>