body > div.container-fluid {
	height: 100%;
}

.tile-area-title {
	right: 80px;
}

.tile-area{
	padding-right:0;
}

#profileDropDown.dropdown-toggle:before {
	display: none;
}

.dropdownUser {
	border: 1px solid rgb(34, 34, 34);
	position: relative !important;
	z-index: 20000;
}

	.dropdownUser > div {
		padding: 5px;
	}

.login-form {
	width: 25rem;
	height: 18.75rem;
	position: fixed;
	top: 50%;
	margin-top: -9.375rem;
	left: 50%;
	margin-left: -12.5rem;
	background-color: #ffffff;
	opacity: 0;
	-webkit-transform: scale(.8);
	transform: scale(.8);
}

.MSMSidebar {
	width: 400px;
	height: 100%;
	float: right;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	border: 1px solid rgba(234, 232, 225, 1);
	padding: 0 10px;
}

.MSMMappa {
	position: relative;
	width: calc(100% - 400px);
	height: 100%;
}

.editCell {
	cursor: pointer;
}

.tableContainer {
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 20px;
}

.headerBar {
	top: 0;
	height: 100px;
	width: 100%;
	position: fixed;
}

@media(max-width:480px)  {
	.headerBar{
		display:none ;
	}
}

.leftAlign {
	margin: 0 0 0 80px;
	padding: 0;
}

.contentContainer {
	overflow-y: auto;
	width: 100%;
	height: 100%;	
}

.labelAlignment {
	vertical-align: middle;
	padding-left: 5px;
}

.headerPadding {
	padding: 100px 0 0 0;
}

.inputFormContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
}

table.firstColumnSmaller tr td:first-child {
	width: 1px;
	padding-right: 10px;
}

td > div.input-control.text {
	width: 100%;
}

form.inputFormContainer > div:first-child {
	width: 600px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
}

bing-map {
	height: 100%;
	width: 100%;
}

#navcontainer {
	padding-bottom: 20px;
}

	#navcontainer ul li {
		display: inline;
	}
