<div style="height:100%">
	<div class="tile-area fg-white bg-gray" style="width:1024px">
		<div class="headerBar bg-grayDarker">
			<div class="tile-area-title fg-white" style="width:100%; padding-right:160px">
				Welcome to Project Caronte!
				<div style="float:right; white-space:nowrap">
					<div style="display:inline-block">Ciao, {{logged.userName}}</div>

					<div class="dropdown-toggle" id="profileDropDown" style="display:inline-block; padding: 0 0 10px 0;">
						<span class="mif-cogs" />
					</div>
					<div data-role="dropdown" class="dropdownUser bg-gray text-accent">
						<div class="bg-hover-lightBlue"><span class="mif-user padding10" />Il mio account</div>
						<div class="bg-hover-lightBlue" ng-click="logoutUser()"><span class="mif-exit padding10" />Logout</div>
					</div>


				</div>
			</div>
		</div>
		<div class="tile-group">
			<span class="tile-group-title fg-white">Gestione anagrafiche</span>

			<a class="tile-wide bg-lightBlue" href="#/Anagrafica">
				<div class="tile-content slide-up-2">
					<div class="slide align-center">
						<img src="Images/User-Profile.png">
					</div>
					<div class="slide-over text-small padding10 fg-white">
						Entra qui per visualizzare, creare, modificare od eliminare le anagrafiche
					</div>
					<span class="tile-label fg-white">Anagrafiche</span>
				</div>
			</a>

			<a class="tile-wide bg-lightBlue" href="#/Personale">
				<div class="tile-content slide-up-2">
					<div class="slide align-center">
						<img src="Images/Employee.png">
					</div>
					<div class="slide-over text-small padding10 fg-white">
						Entra qui per visualizzare, creare, modificare od eliminare il personale
					</div>
					<span class="tile-label fg-white">Personale</span>
				</div>
			</a>
		</div>

		<div class="tile-group">
			<span class="tile-group-title fg-white">Gestione Viaggi</span>

			<a class="tile-wide bg-lightBlue" href="#/Veicoli">
				<div class="tile-content slide-up-2">
					<div class="slide align-center">
						<img src="Images/Van.png">
					</div>
					<div class="slide-over text-small padding10 fg-white">
						Entra qui per visualizzare, creare, modificare od eliminare i veicoli
					</div>
					<span class="tile-label fg-white">Veicoli</span>
				</div>
			</a>

			<a class="tile-wide bg-lightBlue" href="#/Viaggi">
				<div class="tile-content slide-up-2">
					<div class="slide align-center">
						<img src="Images/Road.png">
					</div>
					<div class="slide-over text-small padding10 fg-white">
						Entra qui per visualizzare, creare, modificare od eliminare i viaggi
					</div>
					<span class="tile-label fg-white">Viaggi</span>
				</div>
			</a>
		</div>
		<div class="tile-group">
			<span class="tile-group-title fg-white">Dati in tempo reale</span>

			<div class="tile-wide bg-lightPink">
				<div class="tile-content iconic">
					<span class="tile-label fg-white">Viaggi programmati</span>
					<span class="icon">5</span>

				</div>
			</div>

			<a class="tile-wide bg-lightGreen" href="#/MasterSituation">
				<div class="tile-content iconic fg-white">
					<span class="tile-label ">Viaggi in corso</span>
					<span class="icon">2</span>
				</div>
			</a>
		</div>
		<div class="tile-group">
			<span class="tile-group-title fg-white">Pubblicità</span>

			<div class="tile-wide ">
				<div class="tile-content">
					<div class="image-container">
						<div class="frame">
							<img src="Images/urAd.png">
						</div>
					</div>
				</div>
			</div>

			<div class="tile-wide " data-role="tile" data-effect="slideUpDown">
				<div class="tile-content">
					<div class="live-slide">
						<div class="image-container">
							<img src="Images/938_coop.jpg" />
						</div>
					</div>
					<div class="live-slide">
						<div class="image-container">
							<img src="Images/urAd.png" />
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>